 img {
    height: auto;
    width: 30%;
    border-radius: 5%;
}

 .image-row {
    display: flex;
    gap: 10px;
 }

 body {
   background-color: bisque;
   font-style: italic;
 }

 h1 {
   padding-left: 40%;
   font-size: 250%;
 }
